@import '~bootstrap/scss/bootstrap';

body {
  background-color: #E3D8D8;
  font-family: 'Montserrat Alternates', sans-serif;
  // font-family: 'Sawarabi Mincho', sans-serif;
  color: #817171;
  // margin: 50px 0px 0px 0px;
}


h1 {
  font-family: 'Montserrat Alternates', sans-serif;
  color: black;
  text-align: right;
}

#message-display {
  padding: 25px;
  text-align: center;

}
.btn-group-toggle {
  padding: 15px;
}

.form-control {
  width: 250px;
}

.col-sm-9 {
  padding: 20px;
}

.col-8 {
  text-align: center;
}
.col-4 {
  padding: 0px 0px 0px 70px;
}


#status-message-display {
  text-align: left;
  padding: 0px 5px 0px 0px;
}

#main {
  padding: 15px;
}
#auth {
  // padding: 0px 0px 0px 70px;
}
#add-drugs-button-div {
  padding: 0px 0px 0px 490px;
}
#main-page {
  border: 2px solid white;
}

.btn-outline-secondary {
  color:  #817171;
  border-color: #817171;
}

.btn-outline-secondary:hover {
  background: #817171;
  color: white;
}

.btn-outline-secondary:focus {
  background: #817171;
  color: white;
}
.form-control {
  width: 200px;
}
// .edit {
//   display: none; /* Hide button */
// }
// .edit:hover {
//   display: block; /* On :hover of div show button */
// }
