@import '~bootstrap/scss/bootstrap';

body {
  background-color: #E3D8D8;
  font-family: 'Montserrat Alternates', sans-serif;
  font-family: 'Sawarabi Mincho', sans-serif;
  color: #817171;
  margin: 150px 150px;
}
div {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}
.btn-group-toggle {
  display: flex;
  justify-content: flex-end;
}
// form {
//   border: 1px solid #817171;
//   border-radius: 4px;
// }

h1 {
  font-family: 'Montserrat Alternates', sans-serif;
  color: black;
  text-align: right;
}

.btn-outline-secondary {
  color:  #817171;
  border-color: #817171;
}

.btn-outline-secondary:hover {
  background: #817171;
  color: white;
}

.btn-outline-secondary:focus {
  background: #817171;
  color: white;
}
.form-control {
  width: 200px;
}
